html {
  background-color: aqua;
  text-align: center;
}

.buttons {
  background-color: maroon;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

#time {
  font-size: 50px;
  background-color: maroon;
  color: white;
  text-align: center;
  padding: 16px;
}